---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <div class="w-screen bg-BrandyPunch">
    <h1 class="text-center mt-16">About Page</h1>
    <h2 class=" text-center"> Under Maintanense</h2>
    <div class="flex justify-center ">
        <img src="https://img.freepik.com/free-vector/software-code-testing-concept-illustration_114360-8414.jpg?t=st=1741523164~exp=1741526764~hmac=3a37b32729a0dbc8d7e1db3dfb4aa9c37687880999cf1d0cfd3dbd45fae323ac&w=740" 
        alt="Software Code Testing Illustration"
        class="w-[450px] h-[450px] rounded object-cover py-10">
   
    </div>
    </div>
</Layout>