---
import Layout from "../layouts/Layout.astro";
import HeaderBanner from "../components/HeaderBanner.astro";
---
<Layout>
    <HeaderBanner src="/assets/images/about/about_banner1.webp" 
      title="About Caffia" 
      description="Born from a love for coffee, Caffia is dedicated to delivering rich, bold flavors with every sip. Whether you crave a strong espresso or a smooth latte, our carefully curated blends ensure the perfect coffee moment." 
      />

        <div class="container mx-auto">
        <h1 class="lg:text-4xl md:text-2xl text-xl font-bold mb-4 text-center text-TaupeBrown py-10">About Us – The Heart Behind Caffie</h1>
        
          <h2 class="  text-center lg:!text-2xl md:!text-xl !text-lg text-gray font-semibold md:px-16 px-4 lg:px-36  ">Welcome to Caffie, where every cup tells a story.</h2>
          <p  class="text-gray text-center md:px-16 px-4 lg:px-36 lg:text-xl md:text-lg text-base font-medium py-2">
            At Caffie, we’re more than just a coffee shop we’re a cozy corner of calm, a space where stories unfold, friendships are brewed, and every sip is wrapped in warmth. Whether you're looking for your daily caffeine fix, a moment of quiet, or a place to connect Caffie is your home away from home.
          </p>
          <h2 class="text-center lg:!text-2xl md:!text-xl py-2 !text-lg text-gray font-semibold md:px-16 px-4 lg:px-36">We’re not just about coffee we’re about community, comfort, and connection.</h2>

          <p class="text-gray text-center md:px-16 px-4 lg:px-36 lg:text-xl md:text-lg text-base font-medium py-2">
            We’ve built Caffie to feel like your favorite sweater soft, comforting, and always there when you need it. Every table, every brew, and every interaction is part of a bigger story one of togetherness, relaxation, and simple joy. Our space is for everyone the morning rush-goer, the laptop warrior, the bookworm, the deep thinker, and the casual daydreamer.
          </p>
        </div>


        <section  class="container mx-auto my-10">
          <div class="md:px-16 px-4 lg:px-16 ">
            <h2 class="lg:!text-2xl md:!text-xl font-medium !text-lg text-gray">
              Our Mission
            </h2>
            <p class="font-medium text-gray lg:text-xl md:text-lg text-base">
              To serve coffee that warms the heart, fuels the soul, and brings people together one cup at a time.
              Our mission is rooted in purpose. We want every drink we serve to feel like a small act of care. More than just caffeine, it’s a daily ritual, a moment to breathe, to connect, and to be present. We believe coffee has the power to slow time if only for a moment and remind us of what matters.
            </p>
          </div>
        </section>

        <section  class="container mx-auto my-10">
          <div class="md:px-16 px-4 lg:px-16 ">
            <h2 class="lg:!text-2xl md:!text-xl !text-lg text-gray">
              What Makes Us Special
            </h2>
            <div>
              <ul class="list-disc pl-5 md:text-lg text-base lg:text-xl text-gray">
                <li class="font-medium py-3">
                  <span class="font-bold">Ethically Sourced Beans:</span> 
                  We work closely with responsible farms around the globe that value sustainability, fairness, and quality. Every bean at Caffie has a story and it begins with growers who are treated with respect and paid fairly for their craft. When you drink with us, you support a chain of care that starts at the root.
                </li>
                <li class="font-medium py-3">
                  <span class="font-bold">Freshly Brewed</span>
                  Our drinks aren’t just made they’re handcrafted. Every order is freshly brewed, ensuring peak flavor and aroma. From the rich crema of an espresso to the velvet swirl of a cappuccino, our baristas take pride in perfecting every detail.
                </li>
                <li class="font-medium py-3">
                  <span class="font-bold">Locally Inspired Flavors</span>
                  We love celebrating the uniqueness of our local community. That’s why we infuse our menu with local ingredients, seasonal specials, and culturally inspired twists. Whether it’s a rose cardamom latte or a saffron cold brew, our drinks are a tribute to the tastes and textures around us.
                </li>
              </ul>
            </div>
          </div>
        </section>

        
        <section  class="container mx-auto my-10">
          <div class="md:px-16 px-4 lg:px-16 ">
            <p class="lg:text-2xl font-bold md:text-xl py-2 text-lg text-gray">
              Made for Coffee Lovers, by Coffee Lovers
            </p>
            <p class=" pb-2 font-medium  text-gray  lg:text-xl md:text-lg text-base">
              Caffie was born from passion — a love for coffee, design, storytelling, and human connection. We’re a small team of dreamers and doers who believe that a great café is built on details: the smell of freshly ground beans, the smile behind the counter, the playlist that hits just right. We geek out over pour-over techniques, but we’re also obsessed with how a space feels when you walk in.
              </p>
              <p  class=" pb-2 font-medium  text-gray  lg:text-xl md:text-lg text-base">
                Your thoughts matter to us. Whether it’s feedback, a suggestion, or just a friendly hello — we’d love to hear from you. Because Caffie isn’t just a coffee shop. It’s a community. A conversation. A collaboration.
                And it’s not complete without you.
            </p>
            </p>

            <p class="lg:text-2xl font-bold md:text-xl py-2 text-lg text-gray">
              Let’s Brew Together
            </p>
            <p  class=" pb-2 font-medium text-gray lg:text-xl md:text-lg text-base">Got feedback or just want to say hi? We'd love to hear from you. Caffie isn’t just a brand — it’s a family. And you’re always welcome here.
            </p>

          </div>
        </section>
        
  
</Layout>